<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page d'acceuil</title>
    
    <h1>Bienvenue sur votre application de gestion de client ayant une carte prépayée</p>
   
    <div class="bienvenue">
    <p>Cette application va vous permettre de predire en fonction des informations que vous allez soumettre si un client va continuer de souscrire au service de carte prépayée.</p>
    <a href="/troisième">
        <button>prédisez pour 10 individus aléatoirement</button>
    </a>
    <a href="own_prediction.html">
        <button>Prédisez de vous même ici</button>
    </a>
    <a href="/second">
        <button>Afficher la table de donnée ici</button>
    </a>
    
</div>
</head>
<body>
    
</body>
</html>